.btn-warn {
    background-color: #d5af30;
}

.text-warn {
    color: #d5af30;
}

.section-margin {
    margin-top: 50px;
    margin-bottom: 100px;
}

.nav-brand img {
    width: 60px;
    height: 44px;
}

.menu-nav {
    color: #d5af30;
}

.logo-footer {
    width: 120px;
    height: 95px;
}

#topnav .login-button {
    float: left;
    line-height: 68px;
    padding: 3px 0px;
  }
