/*! Place your custom styles here */
/*---------------------------------------------*/

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf'); 
}

li {
  color: #ffffff;
}
body, h1,h2,h3,h4, a {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat Extra", sans-serif;
}

h2 {
  font-family: "Montserrat Medium", sans-serif;
}

h4 {
  font-family: "Montserrat Semibold", sans-serif;
}

h6 {
  font-family: "Montserrat Semibold", sans-serif;
}

a, a:hover {
  text-decoration: none;
  
}

.nav-container {
  background: linear-gradient(to right, #80877c 0%, #c7c5b8);

}
#menu1 {
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to right, #80877c 0%, #c7c5b8);
}

.link {
  color: #ffffff;
}
iner {
    padding-top: 5px;
    padding-bottom: 10px;
}
.dropdown-2{
    font-weight: 800;
}

.sub-digital {
  color: #d5af30;
}

.digital {
  font-weight: 600;
  font-size: 55px;
  color: #80877c;
  text-transform: capitalize;
}

.footer-dark {
    padding-bottom: 25px;
}

p {
    padding-bottom: 10px;
}

.feature-large h2 {
  font-family: "Montserrat Semibold", sans-serif;
  color: #80877c;
}

.feature-1 > a > img {
    width: 100%;
    height: 220px;
}
.image-wilayah > img {
    display: block;
    width: 100%;
    height: 280px;
    border-radius: 5px;
}
.image-border > img {
    width: 100%;
}
.feature-2 > img {
    width: 100% auto;
    height: 130px;
}
.feature-people > a > img {
    width: 100%;
    height: 220px;
    color: #00a552;
}
.feature-people {
    text-align: center;
}
.feature-people > a > .btn {
    text-align: center;
}
.feature-people > a {
    color: #ffffff;
    margin-top: 10px;
}
input[type=submit] {
    margin-top: 10px;
}
.project-thumb > .block > a > img {
    height: 250px;
}
.lembaga {
    text-transform: uppercase;
}
.lembaga > h5 {
    color: #a5a5a5;
}
.lead {
    display: block;
}
.lead-left {
    text-align: left;
    font-family: "Montserrat Medium", sans-serif;
    color: #ffffff;
}

.skill-dev {
  color: #d5af30;
  text-decoration: none;
}

.skill-dev:hover {
  color: #d5af30;
}

.desc-bg-second {
  text-align: center;
  font-family: "Montserrat Medium", sans-serif;
  color: #80877c;
}

.left-program {
  color: #d5af30;
}

.feature-box {
  padding-top: 50px;
  background-color: #c7c5b8;
  width: 100%;
  height: 160px;
  text-align: center;
  box-sizing: border-box;
}

.feature-box h4 {
  font-family: "Montserrat Semibold", sans-serif;
  color: #fff;
  padding:0 20px;
}

.feature-box:after {
  content: "";
  display: block;
}

.bg-talent {
  background: linear-gradient(to right, #80877c 0%, #c7c5b8);
  height: 250px;
}

.box-switch {
  padding-top: 100px;
  text-align: center;
  width: 100%;
  height: 300px;
}

.box-switch h2 {
  font-family: "Montserrat Medium", sans-serif;
  color: #ffffff;
}

.bs-2 {
  background-color: #c7c5b8;
}

.bs-1 {
  background-color: #80877c;
}

.logo-brand  {
  width: 150px;
  height: 80px;
}

.logo-footer{
  width: 130px;
  height: 100px;
}

.btn-start-2 {
  color: #ffffff;
  background: #d5af30;
  padding: 10px 20px;
	display: inline-block;
	border-radius: 2px;
	-webkit-transition: all 0.3s ease 0s;
  	-moz-transition: all 0.3s ease 0s;
  	-o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}

.btn-start {
	padding: 10px 20px;
	display: inline-block;
	border-radius: 5px;
	color: #fff;
  text-transform: uppercase;
	-webkit-transition: all 0.3s ease 0s;
  	-moz-transition: all 0.3s ease 0s;
  	-o-transition: all 0.3s ease 0s;
  	transition: all 0.3s ease 0s;
}

.btn-start {
  color: #d5af30;
  background: #fff;
	border: 2px solid #d5af30;
}

.btn-start:hover {
  color: #fff;
  text-decoration: none;
}

.bg-second {
  margin-top: 100px;
}

.text-center {
  padding-right: 100px;
}

.horizontal {
  display: inline-block;
  
}

.horizontal > li {
  display: inline-block;
  text-transform: uppercase;
}

.link-dropdown {
  color: #d5af30;
}

.horizontal > li:not(:last-child) {
  margin-right: 1.85714286em;
}

@media all and (max-width: 767px) {
  .horizontal {
    display: block;
    text-align: left;
  }
  .horizontal > li {
    
    padding: 0;
    display: block;
    text-transform: uppercase;
  }
}

.type--uppercase {
  font-size: 15px;
}

@media all and (max-width: 767px) {
  .menu-horizontal > .dropdown > .dropdown__trigger:after {
    content: '\e80a';
    margin-left: 4px;
  }
}
