*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,p,a {
    margin: 0;
    padding: 0;
}

.header-area {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.header-area .navbar-brand img {
    width: 100px;
}

.header-area .menu-nav {
	width: 100%;
}

.header-area .navbar {
	background: transparent;
	width: 100%;
	border: 0px;
	border-radius: 0px;
	padding-top: 0;
	padding-bottom: 0;
}

.header-area .navbar .nav-right {
	min-width: 260px;
}

.header-area .navbar .nav .nav-item {
	margin-right: 35px;
}

.hero-banner {
	padding-top: 180px;
}

.hero-banner .hero-desc {
	padding-top: 180px;

    
}   


.hero-banner .banner-hero {
    margin: 0;
    padding: 0;
}

.hero-banner h1 {
	text-transform: uppercase;
	margin-bottom: 15px;
	color: #6059f6;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.carousel {
    position: relative;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.carousel {
    flex-direction: column;
    min-width: 100%;
    margin: 0;
    position: relative;
}

 .img-fluid {
    width: 1000%;
    vertical-align: top;
    border: 0;
    display: inline-block;
    pointer-events: none;
    object-fit: cover;
}